@tailwind base;
@tailwind components;
@tailwind utilities;

nav a.active {
  background-color: #94a3b8;
  color: white;
}
.footer svg:hover path {
  fill: #ffb534;
}
.footer path {
  fill: #94a3b8;
}
body::-webkit-scrollbar{
  display: none;
}
.hero__bg {
  background-image: url("../public/bgHero.gif");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-position: center;
}


@media (max-width: 556px) {
  .partner-cart-wrap{
    display: grid;
    grid-template-rows: repeat(2, 150px);
    gap: 10px;
    grid-auto-flow: column;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }
}